/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::before, ::after {
    box-sizing: border-box;
}

header {
    font-family: "Source Code Pro", monospace;
    background-image: url(../../Downloads/d1597894d79386c83b9b/images/headphones_hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3em;
    background-position: center;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
}

.logo {
    width: 150px;
}

.navigate {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navigate li {
    margin-left: 30px;
}

.navigate a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    transition: all 0.3s ease;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    margin: 3px 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

#menu-toggle {
    display: none;
}

nav ul li a:hover, nav ul li a:active {
    color: #ff6565
}

.lorem-about {
    text-align: center;
    margin-top: 18em;
    color:white;
}

.lorem-about h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.lorem-about p {
    font-size: 0.8em;
    margin-top: 0.5em;
    font-weight: bold;
}

.lorem-about .cta {
    margin-top: 4em;
    padding: 1.3em;
    border: 1px solid #ff6565;
    border-radius: 2em;
    background-color: #ff6565;
    color: white;
    font-weight: bold;
}

.lorem-about .cta:hover, .lorem-about .cta:active {
    opacity: 0.9;
}

.info {
    margin-top: 3em;
    text-align: center;
    color: white;
    line-height: 1.5;
}

main {
    background-color: white;
}

.we-dos {
    margin-top: 4em;
    text-align: center;
}

.we-do {
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}

.we-do-note {
    margin-top: 2rem;
    text-align: center;
    color: black;
    line-height: 1.5;
}

.you-listen {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.listen {
    text-align: center;
}

.listen i {
    font-size: 300%;
    color: #ff6565;
}

.listen h3 {
    margin: 0.8em;
    color: black;
    font-weight: bold;
}

.listen p {
    font-size: 1em;

}

@media (max-width: 768px) {
    .you-listen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .you-listen .boxs {
        margin-top: 1.5em;
    }
}

@media (max-width: 480px) {
    nav {
        justify-content: space-evenly;
    }

    .hamburger {
        display: block;
        position: absolute;
        left: 20px;
    }

    .logo {
        margin: 0 auto;
    }

    .navigate {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navigate li {
        margin: 10px 0;
    }

    #menu-toggle:checked + .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #menu-toggle:checked + .hamburger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    #menu-toggle:checked + .hamburger + .navigate {
        display: flex;
    }

    .you-listen {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .you-listen .box {
        margin-top: 1.5em;
    }
}